# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Electron Forge outputs
.vite
out

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
!.env.*.example
docker/production/env/
docker/github/*.pem

# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
!.vscode/settings.json
!.vscode/extensions.json
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# misc
.DS_Store


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum