{
	admin off # disable the admin API
}

(common) {
	request_body {
		max_size 10MB # must be higher than file upload limit
	}

	header -Server
}

:8081 {
	import common

	handle_path /go/* {
		reverse_proxy core:8080
	}

	reverse_proxy auth-realtime:8081
}

:9001 {
	import common

	reverse_proxy minio:9001
}

:5001 {
	import common

	reverse_proxy changedetection:5000
}
