OXYNOTE_CORE_SLACK_CLIENT_ID=
OXYNOTE_CORE_SLACK_CLIENT_SECRET=
OXYNOTE_CORE_SLACK_SIGNATURE_SECRET=
OXYNOTE_CORE_SLACK_REDIRECT_URL=https://localhost:3000/slack
OXYNOTE_CORE_SLACK_INSTALLATION_SIGNING_SECRET=
OXYNOTE_CORE_DB_DATA_SOURCE_CREDENTIALS_SIGNING_SECRET=
OXYNOTE_CORE_GITHUB_APP_ID=
OXYNOTE_CORE_GITHUB_APP_SLUG=
OXYNOTE_CORE_GITHUB_SIGNATURE_SECRET=
OXYNOTE_CORE_GITHUB_CLIENT_SECRET
OXYNOTE_CORE_GITHUB_INSTALLATION_SIGNING_SECRET=
OXYNOTE_CORE_CHANGEDETECTION_API_KEY=
OXYNOTE_CORE_BASE_APP_URL=http://localhost:3000
OXYNOTE_CORE_ORIGINS=http://localhost:3000,localhost:3000
OXYNOTE_CORE_EMAIL_MAILGUN_DOMAIN=
OXYNOTE_CORE_EMAIL_MAILGUN_API_KEY=
OXYNOTE_CORE_EMAIL_MAILGUN_TEMPLATE_ORGANIZATION_INVITATION_KEY=organization-invite
OXYNOTE_CORE_EMAIL_MAILGUN_TEMPLATE_EMAIL_VERIFICATION_KEY=email-verification
OXYNOTE_CORE_EMAIL_MAILGUN_TEMPLATE_USER_DELETION_KEY=user-deletion
OXYNOTE_CORE_EMAIL_MAILGUN_TEMPLATE_USER_CREATION_KEY=user-creation
OXYNOTE_CORE_EMAIL_FROM_ADDRESS=Oxynote <team@oxynote.io>
OXYNOTE_CORE_ANTHROPIC_API_KEY=
