OXYNOTE_AUTH_REALTIME_BETTER_AUTH_BASE_URL=http://localhost:8081
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_COOKIE_DOMAIN=localhost
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_SECRET=sup3rs3cr3t
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_GITHUB_CLIENT_ID=
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_GITHUB_CLIENT_SECRET=
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_GOOGLE_CLIENT_ID=
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_GOOGLE_CLIENT_SECRET=
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_SLACK_CLIENT_ID=
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_SLACK_CLIENT_SECRET=
OXYNOTE_AUTH_REALTIME_BETTER_AUTH_ORGANIZATION_INVITATION_URL=http://localhost:3000/accept-invite
OXYNOTE_AUTH_REALTIME_TRUSTED_ORIGINS=http://localhost:3000,oxynote://,oxynote:/
OXYNOTE_AUTH_REALTIME_MAX_ORGANIZATION_MEMBERS=5
OXYNOTE_AUTH_REALTIME_MAX_ORGANIZATIONS=50
OXYNOTE_AUTH_REALTIME_ALLOWED_EMAILS=
OXYNOTE_AUTH_REALTIME_FRONTEND_URL=
