{
	admin off # disable the admin API
}

(common) {
	request_body {
		max_size 10MB
	}

	header -Server
}

(cloudflare-ip) {
	header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
}

(admin) {
	@admin {
		not {
			path /go/api/x/*
		}
	}
}

api.oxynote.io {
	import common
	import admin

	handle @admin {
		handle_path /go/* {
			reverse_proxy core:8080 {
				import cloudflare-ip
			}
		}
	}

	reverse_proxy auth-realtime:8081 {
		import cloudflare-ip
	}
}

slack-api.oxynote.io {
	import common

	@slack {
		path /api/x/slack/*
	}

	handle @slack {
		reverse_proxy core:8080 {
			import cloudflare-ip
		}
	}
}

github-api.oxynote.io {
	import common

	@slack {
		path /api/x/github/*
	}

	handle @slack {
		reverse_proxy core:8080 {
			import cloudflare-ip
		}
	}
}

changedetection.oxynote.io {
	import common

	basic_auth {
		admin {$CADDY_CHANGE_DETECTION_BASIC_AUTH}
	}

	reverse_proxy changedetection:5000 {
		import cloudflare-ip
	}
}

prometheus.oxynote.io {
	import common
	
	reverse_proxy prometheus:9090 {
		import cloudflare-ip
	}
}

demo-prometheus.oxynote.io {
	import common
	
	@connector {
		header CF-Connecting-IP {$CADDY_DEMO_PROMETHEUS_IP}
	}
	
	handle @connector {
		reverse_proxy datagen-prometheus:9090 {
			import cloudflare-ip
		}
	}
	
	respond 403
}
