NUXT_PUBLIC_SENTRY_DSN=
NUXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NUXT_PUBLIC_LINK_TO_MORE_INFO_ABOUT_PRODUCT=https://oxynote.io
NUXT_PUBLIC_NODEJS_API_BASE_HTTP_URL=http://localhost:13321
NUXT_PUBLIC_NODEJS_API_BASE_WS_URL=ws://localhost:13321/hocuspocus
NUXT_PUBLIC_GO_API_BASE_HTTP_URL=http://localhost:13321/go
NUXT_PUBLIC_GO_API_BASE_HTTP_WS=ws://localhost:13321/go
NUXT_PUBLIC_TERMS_OF_SERVICE_URL=https://oxynote.io/terms-of-service
NUXT_PUBLIC_PRIVACY_POLICY_URL=https://oxynote.io/privacy-policy
NUXT_PUBLIC_EXPERIMENTAL_FEATURES=
NUXT_PUBLIC_POSTGRESQL_READ_ONLY_USER_SETUP_GUIDE_URL=https://tableplus.com/blog/2018/04/postgresql-how-to-create-read-only-user.html
NUXT_PUBLIC_MYSQL_READ_ONLY_USER_SETUP_GUIDE_URL=https://guide.trevor.io/hc/en-us/articles/6843804879261-Creating-a-read-only-database-user-in-MySQL
NUXT_PUBLIC_MARIADB_READ_ONLY_USER_SETUP_GUIDE_URL=https://guide.trevor.io/hc/en-us/articles/6843804879261-Creating-a-read-only-database-user-in-MySQL
NUXT_PUBLIC_PROMETHEUS_QUERY_GUIDE_URL=https://prometheus.io/docs/prometheus/latest/querying/basics/
NUXT_PUBLIC_POSTGRESQL_QUERY_GUIDE_URL=https://www.postgresql.org/docs/current/sql-select.html
NUXT_PUBLIC_MYSQL_QUERY_GUIDE_URL=https://dev.mysql.com/doc/refman/8.0/en/select.html
NUXT_PUBLIC_MARIADB_QUERY_GUIDE_URL=https://mariadb.com/kb/en/select/

# DO NOT commit this file to your repository!
# The SENTRY_AUTH_TOKEN variable is picked up by the Sentry Build Plugin.
# It's used for authentication when uploading source maps.
SENTRY_AUTH_TOKEN=